<p style="color: green"><%= notice %></p>

<% content_for :title, "Boards" %>

<%= link_to "show all data", boards_path(showall: "true") %>
<h1>Boards</h1>

<div id="boards">
  <% @boards.each do |board| %>
    <%= render board %>
    <p>
      <%= link_to board.title, board %>
    </p>
  <% end %>
</div>

<%= link_to "New board", new_board_path %>
