<p style="color: green"><%= notice %></p>

<%= render @board %>

<div>
  <h1><%= @board.title %></h1>
</div>

<div>
  <%= link_to "Edit this board", edit_board_path(@board) %> |
  <%= link_to "Back to boards", boards_path %>

  <%= button_to "Destroy this board", @board, method: :delete %>
</div>

<div>
  <ul>
    <% @board.columns.sort_by{|c| c[:order]}.each do |column| %>
      <li>
        <strong><%= link_to column.title, edit_board_column_path(@board, column) %></strong>
        <ul>
          <% column.stories.sort_by{|s| s[:order]}.each do |story| %>
            <li><%= story.title %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
  <%= link_to "New column", new_board_column_path(@board) %>
</div>